@using ETicaret.Shared.Dal.Concrete
@model List<Product>
@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<button class="btn btn-primary p-3"><a href="~/Product/Create" style="color:white">Yeni Ürün Ekle</a></button>

<br /><br />
    <table class="table table-hover">

    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Kategori Adı</th>
            <th>Stok</th>
            <th>Açıklama</th>
            <th>Satış durumu</th>
            <th>Fiyat</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>


    </thead>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            <td>@x.Category.Name</td>
            <td>@x.Stock</td>
            <td>@x.Description</td>
            @if (x.IsActive == true)
                {
                    <td>Aktif</td>
                }
                else
                {
                    <td>Pasif</td>
                }

          
            <td>@x.Price</td>
            <td><a asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@x.Id" class="btn btn-primary">Düzenle</a></td>
            <td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@x.Id" class="btn btn-warning">Sil</a></td>
        </tr>
    }




</table>













