@model ETicaret.Shared.Application.DTOs.UProductDto


@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form  onsubmit="return submitForm(this)" asp-controller="Product" asp-action="UpdateProduct" class="form-group" method="post"  enctype="multipart/form-data" id="form2">
    <div class="col12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class=form-sample>
                    <div class="form-group">
                        <input type="hidden" name="Id"  asp-for="Id" />
                        <label asp-for="Name">Ürünün Adı</label>
                        <input  asp-for=Name class="form-control" required />
                        <span asp-validation-for="Name"></span>

                    </div>

                    <div class="form-group">
                        <label>Kategori Adı</label>
                        <!select class="form-select " name="CategoryID">
                            @foreach (var item in ViewBag.categories)
                            {
                            <!option @(Model.CategoryID==item.Id?"selected":"") class="dropdown-item" itemid="CategoryID" value="@item.Id">@item.Name</!option>
                             <option class="dropdown-item" itemid="CategoryID" value="@item.Id">@item.Name</option>
                            }
                        </!select>

                    </div>


                    <div class=form-group>

                        <label asp-for="Stock">Stok</label>
                        <input  asp-for=Stock class="form-control" required />
                        <span asp-validation-for="Stock"></span>


                    </div>
                    <div class=form-group>

                        <label asp-for="Discount">İndirim</label>
                        <input  asp-for=Discount class="form-control"  required />
                        <span asp-validation-for="Discount"></span>


                    </div>
                    <div class=form-group>

                        <label asp-for="Description">Ürünün Açıklaması </label>
                        <textarea asp-for=Description type="text" name="Description" id="Description" class="form-control" required>
                          @Model.Description.Trim()
                        </textarea>

                    </div>
                    <div class=form-group>
                        <label asp-for="Price">Fiyat</label>
                        <input asp-for=Price class="form-control"  required />
                        <span asp-validation-for="Price"></span>
                    </div>

                     <label>Ürünün Görseli</label>
                    <div class="custom-file">

                        <input  asp-for="fileImage" type="file" class="custom-file-input" />
                        <label  asp-for=fileImage class="custom-file-label" >Choose file</label>
                        <span asp-validation-for="fileImage"></span>

                    </div><br /><br />

                    <button class="btn-primary" type="submit" id="btn">Kaydet</button>
                </div>




            </div>
        </div>

    </div>

</form>


 
<script>

            function submitForm(t) {
               var formData = new FormData(document.getElementById("form2"));
               $.ajax({
                   url: "",
               data: formData,
               type: "POST",
               processData: false,
               contentType: false,
               async: true,
               beforeSend: function(item) {},
               success: function(item) {
      if(item=="success"){
                      Swal.fire({
      title: 'Başarılı?',
      text: "Ürün Güncelleme İşlemi Başarıyla Tamamlandı.Devam Etmek için Tamam'a Basın.",
      icon: item,
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'Tamam'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.replace("/Product/ListProduct");
      }
    })
      }
    
               },
               error: function(jqXHR, textStatus, error) {
                   Swal.fire({
      icon: 'error',
      title: 'Hata...',
      text: 'Bir Hata Oluştu!'

    })
               },
               });
                      return false;
                }

</script>









